
body{
	background:  #02010a;
	text-shadow:1px 2px 3px #02010a;
  font-family: Dancing, Script;

	/*FLEX*/
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
.contenido {
	max-width: 900px;

	/*FLEX*/
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;

}
header{
	width:100%;
	padding: 5px;
	background: #5b7989;
	border-radius: 10px 10px 0 0;
	color: white;

	/*FLEX*/
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	animation-duration: 3s;
	animation-name: slidein;
}

@-webkit-keyframes slidein {
	0%{
	  margin-top: 150%;
  }
	60%{
    margin-top: -5%;
  }
	100%{
		margin-top: 0%;
	}
}


header nav{
	width: 50%;
	margin-right: 5px;
	margin-left: auto;
	/*FLEX*/
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: flex-end;
}

header nav a{
	color:white;
	padding: 10px;
	font-size: 20px;
}

section{
	width: 100%;
	background: #d5c75f;
}

.contenido img{
	width: 200px;
	margin: 5px;
}

#contenido {
	display: flex;
	flex-direction: column;

}

.contenedor {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#imagen1 img{
	-webkit-filter: blur(10px);
	filter: blur(10px);
}

.bn img{
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

#imagen3 img{
	-webkit-filter: sepia(90%); /* Chrome, Safari, Opera */
	filter: sepia(90%);
}

footer {
	width: 100%;
	background: #C6d5c5;
	border-radius: 0 0 10px 10px;
	/*FLEX*/
	display: flex;
	flex-flow: nowrap;
	flex-direction: row;
	justify-content: space-around;
	text-decoration: none;
}

#rs{
	width: 25px;
}

@media (min-width:900px){
	header{
		justify-content: space-around;
	}
}

@media (max-width:900px) {
	.contenedor {
		flex-direction: column;
	}
	header{
		flex-direction: column;
	}
	header nav {
		width: 100%;
		justify-content: center;
	}
	footer {
		flex-direction: column;
	}
	.pie{
		padding: 15px;
	}
}
